/* #f77343    #f75560   #ece8e7 */
*{
 margin:0;
padding:0;
}
.main{
  background-image: linear-gradient(to right, #f77343 , #f75560);  
 }
body{
  overflow-x:hidden;
}  
.flex{
  
    min-height:80vh;
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-evenly;
    align-items: center;
    /* border:5px solid black; */
    flex-wrap:wrap;
    animation-name:agency;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-timing-function: linear;
    transition: 2s;
    animation-fill-mode: forwards;
}
.agency_name{
    color:white;
    font-size:240%;
    text-align: center;
    font-weight:bolder;
    font-family:sans-serif;
}
@keyframes agency{
  from{
    opacity:0;
    margin-top: 5px;
  }
  to{
    opacity:1;
    margin-top:50px;
  }
}

p{
  font-family:sans-serif;
  opacity:0.7;
}
.main_img{
   max-width:100%;
   height:auto;
}
.second_section{
  animation : 2s linear;
  animation-name:company;
  animation-duration:2s;
  animation-delay:2s;
    min-height:80vh;
    flex-wrap:wrap-reverse;
    padding:50px 10px;
    display:flex;
    text-align: center;
    flex-direction: row ;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.second-parent{
  background-color:#ece8e7;
}

@keyframes company{
  from{
    transform:translateX(-100%)
  }
  to{
    opacity:1;
    transform:translateX(0%)
  }
}
.service{
  display:flex;
  justify-content: center;
  align-content: center;
   background-color:#ece8e7;
  flex-wrap:wrap;
  padding:10px;
  padding-top:40px;
  background-image: linear-gradient(to left, #f77343, #f75560);
}
.card{
  margin:30px 15px;
  background-color:#ece8e7;
  color:rgb(98, 98, 98);
  text-align: center;
  box-shadow:4px 4px 18px 4px #ff7780;
  outline:none;
  border:none;
  height:400px;
  width:200px;
}
.card-img-top{
  height:160px;
  width:288px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#f3767e; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #d3323d ; 
    border-radius:20px;
  }
  .btn-card{
    background-color:#f75560;
    border:none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #d3323d; 
  }
  .add{
    background-color: #f75560;
    padding:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:80vh;
  }
  /* .form{
    min-height:80vh;
    background-color:#ece8e7;
    color:black;
    width:70%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-bottom:20px;
    border-radius:10px;
    flex-wrap:no-wrap;
    padding:10px;
  } */
input{
  background-color:rgb(233, 250, 255);
  border:none;
  border-radius: 6px;
  outline:none;
  max-width: 100%;
  margin:6px;
  padding:6px;
}

.stats{
  min-height:200px;
  animation-name:stats;
  animation-duration:1s;
  animation-delay:3s;

  width:100%;
  background-color: #ece8e7;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
    align-items: center;
  align-content: center;
  flex-wrap:wrap;
  border-radius:10px;
}
@keyframes stats{
  from{
    transform:translateX(50%)
  }
  to{
    transform:translateX(0%)
  }
}
.stats_sub{
  /* width:100px; */
  height:auto;
  width:300px;
  margin:20px 8px;
  text-align: center;
  background-image: linear-gradient(to right, #f77343 , #f75560);  
  /* background-color:#d7d5d4; */
  border-radius: 10px;
}
i{
  font-size: 70px;
color:white;
}
h2{
  font-size:100%;

}

.team{
  min-height:80vh;
  background-color:#ece8e7;
}

.services{
  background-image: linear-gradient(to right, #f77343 , #f75560);  
  min-height:80vh;
}

.nav-link{
   font-weight: bolder;
}
.img{
  box-shadow:4px 4px 12px 4px rgb(160, 160, 160);
  width: 250px;
  height:250px;
  border-radius:4px;
  margin-bottom : 15px;
  margin-left :225px;
  text-align: center;
  transition:all 1s;
}
.img2{
  box-shadow:4px 4px 8px 4px rgb(151, 151, 151);
  width: 250px;
  height:250px;
  border-radius:4px;
  margin-bottom : 15px;
  margin-right :225px;
  text-align: center;
  transition:all 1s;
}
.img:hover{
  transform:scale(1.1)
}
.img2:hover{
  transform:scale(1.1)
}

.flex_team{
  animation-name:flex_team;
  animation-duration:2s;
  
  animation-delay:4s;
  display:flex;
  justify-content:space-evenly;
  align-items:space-around;
  align-content:center;
  /* flex-wrap:wrap; */
  margin-top: 5%;
}
@keyframes flex_team {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.flex_team2{
  animation-name:flex_team2;
  animation-duration:3s;
  animation-delay:4s;

  display:flex;
  justify-content:space-evenly;
  align-items:space-around;
  align-content:center;
  /* flex-wrap:wrap; */
  margin-top: 5%;
  flex-direction:row-reverse;
}
@keyframes flex_team2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.member_content{
  
align-self: flex-start;
justify-content: flex-start;
align-items: center;
}


@media(max-width:928px){
.flex_team{
  flex-wrap:wrap;
}
.agency_name{
  font-size:180%;
  margin-top:40px;
  text-align: center;
}
.img{
  text-align: center;
  width:180px;
  margin:auto;
  height:180px;
  box-shadow:none;
  /* box-shadow: none; */
  margin-bottom:25px;
}
.img2{
  width:180px;
  box-shadow:none;
  margin:auto;
  height:180px;
  /* box-shadow: none; */
  margin-bottom:25px;
}
.flex_team{
  margin:15px 5px;
}
p{
  width:100%;
  margin-bottom:10px;
  margin:auto;
  text-align:center;
}
.btn-light{
  text-align:center;
  margin-top:10px;
}
.btn-dark{
  text-align: center;
  margin-top:10px;
}
.flex_team2{
  flex-wrap: wrap;
}

}

footer{
  background-color:black;
}
.ul{
  display:inline;
}
